<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <center>
    <h1 class="title">Edit Profiles</h1>
    <h2>
      <%dataP.forEach(function(d){ %>
      <form action="/profiles/edit/<%=d.id%>" method="post">
        hometown<br>
        <input type="text" name="hometown" value="<%=d.hometown%>"><br>
        birth_year:<br>
        <input type="text" name="birth_year" value="<%=d.birth_year%>"> <br>
        relationship_status:<br>
        <input type="text" name="relationship_status" value="<%=d.relationship_status%>"><br>
        profiles_users:<br>
        <select name="profiles_users">
          <%dataU.forEach(d=>{%>
          <option><%=d.username%></option>
          <%})%>
        </select><br><br>
        <button type="submit" name="button">Save Changes</button> <br>
      </form>
    </h2>
    <%})%>
  </div>
</section>
  </center>
  </body>
</html>
