<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Tambah Profile</title>
  </head>
  <body>

    <center>
      <h1>Form Tambah Profile</h1>
    <form action="/profiles/edit/<%=data_profiles.id%>" method = "POST">
      <br>
      Hometown:<br>
      <input type="text" name="hometown" value="<%=data_profiles.hometown%>">
      <br><br>
      Birth Year:<br>
      <input type="text" name="birth_year" value="<%=data_profiles.birth_year%>">
      <br><br>
      Relationship Status:<br>
      <input type="text" name="relationship_status" value="<%=data_profiles.relationship_status%>">
      <br><br>
      <select name = "user_id">
      <%for(var i = 0; i < data_users.length; i++){%>
        <%if(data_users[i].id == data_profiles.user_id ){%>
        <option value="<%=data_users[i].id%>" selected><%=data_users[i].firstname%></option>
        <%}else{%>
        <option value="<%=data_users[i].id%>"><%=data_users[i].firstname%></option>
        <%}%>
      <%}%>

     </select>

      <input type="submit" value="Submit">
    </form>
  </center>
  </body>
</html>
